@import "reset.css";

@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,500,700&display=swap&subset=cyrillic');


body {
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDFFF8;
}

:root { 
  --nav-width: 216px;
}
.wrapper {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
.nav__wrapper {
  width: var(--nav-width);
  padding: 24px 32px 0 0;
}
.aside__wrapper {
  width: 320px;
  padding: 15px 0 0 32px;
}
.mobile__header {
  display: none;
}

/* ===================================== NAVIGATION ==================================== */

.nav__index {
  position: fixed;
}
.nav__menu li {
  cursor: pointer;
}
.nav__menu li a {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 32px 16px 16px;
  border-radius: 50px;
  color: black;
  text-decoration: none;
}

.nav__icon {
  width: 28px;
  height: 28px;
  background-color: black;
  margin-right: 16px;
}
.nav__icon--home {
  mask: url(../img/home-icn.svg);
  -webkit-mask: url(../img/home-icn.svg);
}
.nav__icon--bell {
  mask: url(../img/bell-icn.svg);
  -webkit-mask: url(../img/bell-icn.svg);
}
.nav__icon--chat {
  mask: url(../img/chat-icn.svg);
  -webkit-mask: url(../img/chat-icn.svg);
}
.nav__icon--bookmark {
  mask: url(../img/bookmark-icn.svg);
  -webkit-mask: url(../img/bookmark-icn.svg);
}

.nav__menu li:hover a, 
.nav__menu__active a {
  color: #0038FF;
  background: rgba(0, 0, 0, 0.05);
}
.nav__menu li:hover .nav__icon, 
.nav__menu__active .nav__icon {
  background-color: #0038FF;
}

.nav__btn {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: #0038FF;
  padding: 16px 55px;
  margin-top: 32px;
  display: inline-block;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.25);
}
.nav__btn:hover {
  filter: brightness(1.25);
}

/* ===================================== MAIN ==================================== */

.main {
  width: 600px;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding-bottom: 20vh;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.main__header span {
  line-height: 18px;
}
.main__header h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.story {
  padding: 24px 32px 16px 24px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.story__body {
  flex: 1;
}

.story__user__ava {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.story__body__header {
  display: flex;
  align-items: center;
}
.story__body__header * {
  margin-right: 16px;
}
.story__body__header h3{
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.story__body__header a, 
.story__body__header span {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.story__body__header a {
  text-decoration: none;
}
.story__info {
  font-size: 0;
}
.story__body p {
  font-size: 16px;
  line-height: 24px;
  padding-top: 8px;
}

.story__body__actions {
  display: flex;
  width: 332px;
  justify-content: space-between;
  margin-top: 16px;
}
.story__body__actions li {
  position: relative;
  display: flex;
  align-items: center;
}
.story__body__actions li:hover {
  cursor: pointer;
  filter: brightness(0.05);
}
.story__body__actions__item {
  position: absolute;
  left: 28px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.35);
}

/* ===================================== ASIDE ==================================== */

aside {
  position: fixed;
  /* left: calc((100vw + 600px) / 2); */
  width: 320px;
  /* margin: 15px 0 0 32px; */
  background: rgba(25, 25, 25, 0.05);
  border-radius: 12px;
}

.aside__header {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.user {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 8px 16px;
}
.user img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.user__info__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
}
.user__info__nick {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  line-height: 18px;
}

.aside__more {
  padding: 11px 16px;
}
.aside__more a {
  color: #0038FF;
  text-decoration: none;
}

/* =============================== CHAT ======================================*/

.chat nav {
  position: fixed;
}
.content {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  min-height: 100vh;
}
.dialogs, 
.messages {
  width: 480px;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.messages {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

/* ===================================== CHAT STORY ==================================== */

.chat .story {
  padding: 16px;
  align-items: center;
}
.chat .story__user__ava {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.chat .story__body p {
  padding: 0;
  line-height: 24px;
}
.chat .story__body__header span {
  margin: 0 0 0 auto;
}
.chat .active__story {
  border-right: 3px solid #0038FF;
  background: #F2F3ED;
}

/* ===================================== CHAT MESSAGES ==================================== */

.messages__items {
  height: calc(100vh - 57px - 57px);
  width: 100%;
  overflow: scroll;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-end;
}

.message {
  margin-bottom: 24px;
}
.message__text {
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
  width: 317px;
}
.message__date {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.sended {
  align-self: flex-end;
}
.sended .message__text {
  color: white;
  background-color: #0038FF;
  border-radius: 24px 24px 0px 24px;
}
.sended .message__date {
  text-align: right;
}

.received {
  display: flex;
  align-items: flex-end;
}
.received img {
  width: 32px;
  height: 32px;
  padding: 0 8px 18px 0;
}
.received .message__text {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 24px 24px 24px 0px;  
}

/* ===================================== TYPEPLACE ==================================== */

.typeplace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 18px 16px 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  background-color: #FDFFF8;
}
.typeplace p {
  width: 385px;
  color: rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 24px;
}

/* ===================================== ADAPTIVE ==================================== */

@media (max-width: 1200px) {
  :root { 
    --nav-width: 32px;
  }
  .nav__wrapper {
    padding: 0 16px 0 0;
  }
  .aside__wrapper {
    padding: 15px 0 0 16px;
  }
  .nav__menu li a {
    padding: 16px 0;
  }
  .nav__menu__text {
    display: none;
  }
  .nav__btn {
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__btn__icn {
    background-image: url(../img/icons8-pencil\ 1.svg);
    width: 20px;
    height: 20px;
  }
  .nav__btn__text {
    display: none;
  }
  .nav__menu__active a{
    background: none;
  }
  .body__index {
    margin: 0;
  }
  .nav__menu li:hover a {
  background: transparent;
  }
}
@media (max-width: 1024px) {
  .aside__wrapper,
  .dialogs {
    display: none;
  }
  .nav__wrapper {
    padding: 0 24px 0 0;
  }
}
@media (max-width: 768px) {
  :root { 
    --nav-width: auto;
  }
  .wrapper {
    flex-direction: column;
  }
  .nav__wrapper {
    padding: 0;
  }
  
  .main__header {
    display: none;
  }
  .mobile__header {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 0 0 16px;
  }
  .nav {
    position: relative;
  }
  .nav__menu {
    display: flex;
  }
  .nav__menu li {
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
  }
  .nav__menu .nav__menu__active {
    border-bottom: 2px solid #0038FF;
  }
  .nav__menu li a {
    padding: 17px 0;
    margin: 0 auto;
  }
  .nav__icon {
    margin: 0;
  }
  .nav__btn {
    margin: 0;
    position: fixed;
    right: 24px;
    bottom: 32px;
  }
  .main {
    width: auto;
    border: 0;
  }
  .story {
    padding: 16px;
  }
  .story__user__ava {
    margin-right: 8px;
    width: 40px;
    height: 40px;
  }
  .story__body__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .story__body__header * {
    margin: 0;
  }
  .story__body__header a {
    margin-right: 12px;
  }
  .story__body__actions {
    width: auto;
  }
  .wrapper.chat {
    width: auto;
  }
  .chat .nav__btn {
    display: none;
  }
  .chat nav {
    position: relative;
  }
  .chat .messages {
    border: 0;
    flex: 1;
  }
  .messages__items {
    height: calc(100vh - 64px - 57px);
  }
}